{% extends 'base.html' %}

{% block page_name %}
    HOME
{% endblock page_name %}

{% block content %}
<div>
    <h1>{{object.name}}</h1>
    <h2>${{room.price}}</h2>
    <h3>{{room.description}}</h3>

</div>
<div>
    <h2>By: {{room.host.username}}</h2>
    {% if room.host.superhost %}
        <h3>Superhost[O]</h3>
    {% else %} 
        <h3>Superhost[X]</h3>
    {% endif %}
    <h2>Amenities</h2> 
    {% for a in room.amenities.all  %}
        <li>{{a}}</li>
    {% endfor %}
    <h2>Facilities</h2> 
    {% for f in room.facilities.all  %}
        <li>{{f}}</li>
    <h2>House Rules</h2> 
    {% for h in room.house_rules.all  %}
        <li>{{h}}</li>
    {% endfor %}
    {% endfor %}
<div>    
{% endblock content %}
